*{
    margin: 0;
    padding: 0;
    
}

div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px;
    height: 100%;
    
}

th{
    font-size: 40px;
    font-family: sans-serif;
    color: white;
    background-color: orange;
    padding: 10px 30px;
    border-radius: 10px;
    border: 5px solid orange;
    text-align: center;
    
    
}

td{
    font-size: 20px;
    font-family: sans-serif;
    color: black;
    padding: 20px 30px;
    border: 1px solid orange;
    text-align: center;
}